In [2]:
import pandas as pd
df = pd.read_csv('../data/compas-scores-two-years.csv')
features = ['race', 'age', 'sex', 'juv_misd_count', 'priors_count']
to_predict = 'two_year_recid'
races_to_filter = ['Caucasian', 'African-American']
filtered = df.loc[df['race'].isin(races_to_filter), features + [to_predict]].reset_index(drop=True)

filtered['race'] = filtered['race'].apply(lambda race: 0 if race == 'Caucasian' else 1)
filtered['sex'] = filtered['sex'].apply(lambda sex: 0 if sex == 'Male' else 1)

In [3]:
from utils import train_model
import loss_funcs

train_size = 5000
x_train = filtered.loc[:train_size, features]
y_train = filtered.loc[:train_size, to_predict]
x_control = {'race': x_train['race'].to_list()}

apply_fairness_constraints = 1
apply_accuracy_constraint = 0
sep_constraint = 0
gamma = 0
sensitive_attrs = ['race']
sensitive_attrs_to_cov_thresh = {'race': 0}

w = train_model(x_train.to_numpy(),
                y_train.to_numpy(),
                x_control,
                loss_funcs._logistic_loss,
                apply_fairness_constraints,
                apply_accuracy_constraint,
                sep_constraint,
                sensitive_attrs,
                sensitive_attrs_to_cov_thresh,
                gamma)

In [12]:
import numpy as np
np.unique(x_train['juv_misd_count'], return_counts=True)

(array([ 0,  1,  2,  3,  4,  5,  6,  8, 12, 13]),
 array([4688,  222,   51,   22,    6,    4,    4,    2,    1,    1]))

In [10]:
x_train['sex']

      race  age  sex  juv_misd_count  priors_count
0        1   34    0               0             0
1        1   24    0               0             4
2        1   23    0               1             1
3        0   41    0               0            14
4        0   39    1               0             0
...    ...  ...  ...             ...           ...
4996     1   24    0               0             2
4997     1   32    0               1            13
4998     0   25    0               0             4
4999     1   24    0               1            10
5000     1   27    0               0             0

[5001 rows x 5 columns]